.Rproj.user
.Rhistory
.RData
.Ruserdata
.local
.rstudio
.conda
!output
output/*
!output/NF-10x_alignment
output/NF-10x_alignment/*
!output/NF-10x_alignment/cellrangerCounts
html_files
.nextflow*
work
data
.cache
results