// Static details about the pipeline
manifest {
  name = 'alexthiery/10x_neural_tube'
  author = 'Alex Thiery'
  homePage = 'https://github.com/alexthiery/10x_neural_tube'
  description = 'Nextflow 10x neural tube downstream analysis pipeline.'
  nextflowVersion = '>=19.10.0'
  version = 'dev'
}

process.container = 'alexthiery/10x_neural_tube:dev'

// Create run profiles
profiles {
  docker { includeConfig 'conf/docker.config' }
  crick { includeConfig 'conf/crick.config' }
}