/*
 * -------------------------------------------------
 *  alexthiery/Sox8 crick config file
 * -------------------------------------------------
 * Specific config for the Francis Crick Institute CAMP computing cluster
 */

singularity {
  enabled = true
  autoMounts = true
}

// Load some standard modules before running script
process {
  executor = 'slurm'
}

params {
    // Crick specific computing max resource levels
    max_memory = 224.GB
    max_cpus = 32
    max_time = 72.h

    mem = 32.GB
    threads = 4

    // General
    outDir = './results'
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}