#!/usr/bin/env nextflow
/*
 * -------------------------------------------------
 *  alexthiery/10x_neural_tube hpc config file
 * -------------------------------------------------
 */

docker.enabled = true

// Load some standard modules before running script
process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h
}