#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig '../conf/base.config'


// Static details about the pipeline
manifest {
  name = 'alexthiery/10x_neural_tube'
  author = 'Alex Thiery'
  description = 'Nextflow pipeline to run 10x Genomics single cell RNA-seq alignment with CellRanger v3.0.2'
  nextflowVersion = '>=20.07.1'
}

params {
    // General
    outDir = "../output/alignmentOut"
}