#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig '../conf/base.config'


// Static details about the pipeline
manifest {
  name = 'alexthiery/10x_neural_tube'
  author = 'Alex Thiery'
  description = 'Nextflow pipeline to run downstream analysis for 10x neural tube'
  nextflowVersion = '>=20.07.1'
}